<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=" 
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<import
		resource="classpath:/com/gw/steel/rediscache/config/redisCacheLibSpringContext.xml" />

	<bean id="sysProperties"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" value="#{@systemProperties}" />
		<property name="targetMethod" value="putAll" />
		<property name="arguments">
			<util:properties>
				<prop key="shardjedispool.properties.filename">${envpath}/jedis-pool.properties</prop>
				<prop key="jedisshard.properties.filename">${envpath}/jedis-shard.properties</prop>
			</util:properties>
		</property>
	</bean>
	
	<bean class="com.gw.steel.spring.rediscache.ShardJedisConfigBuilder"
		init-method="init" />

</beans>
