<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gw.recharge.dal.mapper.VendorDOMapper" >
  <resultMap id="BaseResultMap" type="com.gw.recharge.dal.model.VendorDO" >
    <id column="VENDOR_ID" property="vendorId" jdbcType="VARCHAR" />
    <result column="VENDOR_CODE" property="vendorCode" jdbcType="VARCHAR" />
    <result column="VENDOR_DESC" property="vendorDesc" jdbcType="VARCHAR" />
    <result column="NOTIFY_URL" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="UPT_TIME" property="uptTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    VENDOR_ID, VENDOR_CODE, VENDOR_DESC, NOTIFY_URL, STATUS, UPT_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_RECHARGE_VENDOR
    where VENDOR_ID = #{vendorId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_RECHARGE_VENDOR
    where VENDOR_ID = #{vendorId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gw.recharge.dal.model.VendorDO" >
    insert into T_RECHARGE_VENDOR (VENDOR_ID, VENDOR_CODE, VENDOR_DESC, 
      NOTIFY_URL, STATUS, UPT_TIME
      )
    values (#{vendorId,jdbcType=VARCHAR}, #{vendorCode,jdbcType=VARCHAR}, #{vendorDesc,jdbcType=VARCHAR}, 
      #{notifyUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{uptTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gw.recharge.dal.model.VendorDO" >
    insert into T_RECHARGE_VENDOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vendorId != null" >
        VENDOR_ID,
      </if>
      <if test="vendorCode != null" >
        VENDOR_CODE,
      </if>
      <if test="vendorDesc != null" >
        VENDOR_DESC,
      </if>
      <if test="notifyUrl != null" >
        NOTIFY_URL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="uptTime != null" >
        UPT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vendorId != null" >
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="vendorCode != null" >
        #{vendorCode,jdbcType=VARCHAR},
      </if>
      <if test="vendorDesc != null" >
        #{vendorDesc,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="uptTime != null" >
        #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gw.recharge.dal.model.VendorDO" >
    update T_RECHARGE_VENDOR
    <set >
      <if test="vendorCode != null" >
        VENDOR_CODE = #{vendorCode,jdbcType=VARCHAR},
      </if>
      <if test="vendorDesc != null" >
        VENDOR_DESC = #{vendorDesc,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        NOTIFY_URL = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="uptTime != null" >
        UPT_TIME = #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VENDOR_ID = #{vendorId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gw.recharge.dal.model.VendorDO" >
    update T_RECHARGE_VENDOR
    set VENDOR_CODE = #{vendorCode,jdbcType=VARCHAR},
      VENDOR_DESC = #{vendorDesc,jdbcType=VARCHAR},
      NOTIFY_URL = #{notifyUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      UPT_TIME = #{uptTime,jdbcType=TIMESTAMP}
    where VENDOR_ID = #{vendorId,jdbcType=VARCHAR}
  </update>
</mapper>